---
const { label = Astro.currentLocale === "fr" ? "Me rappeler" : "Remember me", id } = Astro.props;

interface Props {
  label?: string;
  id?: string;
}
---

<!-- Container for the checkbox and its label -->
<div class="flex items-center">
  <!-- Checkbox input -->
  <div class="flex">
    <input
      id={id}
      name="remember-me"
      type="checkbox"
      class="h-4 w-4 rounded border-neutral-300 text-[#EA2295] focus:ring-[#EA2295] dark:border-neutral-600 dark:bg-neutral-700 dark:checked:border-[#EA2295] dark:checked:bg-[#EA2295] dark:focus:ring-offset-neutral-800"
    />
  </div>
  <!-- Label for the checkbox -->
  <div class="ms-3">
    <label for={id} class="text-sm text-neutral-800 dark:text-neutral-200"
      >{label} <slot />
    </label>
  </div>
</div>
